<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemón</title>
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="../static/img/pokebola.png" type="image/png"/>
</head>
<body>
<!--Navbar it is for search a result-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="../static/img/pokebola.png" alt="" width="30" height="30" class="d-inline-block align-top">
            Pokédex
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="create.html">Crear un pokemón</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<div class="row">
    <div class="col-md-12">
        <div>
            <h2 class="text-center">Pokemón</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 border border-5">
                    <img src="../static/img/pica.png" class="card-img-top" alt="...">
                </div>
                <div class="col-8 border border-5">
                    <h3 class="text-center">#001, Picachu</h3>
                    <div>
                        <h4 class="text-center">Datos del pokemón</h4>
                        <p>
                            Altura: 50 metros.
                        </p>
                        <p>
                            Tipo: Eléctrico.
                        </p>
                        <p>
                            Peso: 20 kilogramos.
                        </p>
                        <p>
                            Prioridad: 5.
                        </p>
                        <h4 class="text-center">Descripción</h4>
                        <p>
                            Pikachu es un Pokémon de tipo eléctrico introducido en la primera generación. Es el Pokémon
                            más conocido de la historia, mayormente por ser el acompañante del protagonista del anime,
                            Ash Ketchum y la mascota representante de la franquicia Pokémon.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border border-5">
                    <h4 class="text-center">Habilidades del pokemón</h4>
                    <h5>Vida: </h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="1000">100 pts
                        </div>
                    </div>
                    <h5>Ataque: </h5>
                    <div class="progress">
                        <div class="progress-bar  bg-success" role="progressbar" style="width: 15%" aria-valuenow="150"
                             aria-valuemin="0" aria-valuemax="1000">150 pts
                        </div>
                    </div>
                    <h5>Defensa: </h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="200"
                             aria-valuemin="0" aria-valuemax="1000">200 pts
                        </div>
                    </div>
                    <h5>Especial: </h5>
                    <div class="progress ">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="350"
                             aria-valuemin="0" aria-valuemax="1000">350 pts
                        </div>
                    </div>
                    <h5>Velocidad: </h5>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 12%" aria-valuenow="120"
                             aria-valuemin="0" aria-valuemax="1000">120 pts
                        </div>
                    </div>
                </div>
                <div class="col-6 border border-5">
                    <h4 class="text-center">Movimientos</h4>
                    <p>
                        Nombre: Impactrueno.
                    </p>
                    <p>
                        Descripcion: Es un movimiento de tipo eléctrico. Consiste en electrocutar a el enemigo con un
                        alto nivel de electricidad. El impactrueno tiene un 10% de posibilidades de paralizar al
                        enemigo.
                    </p>
                    <p>
                        Precision: Alta.
                    </p>
                    <p>
                        Carga de ataque: 4 segundos.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 border border-5">
                    <h4 class="text-center">Evolución</h4>
                    <p>
                        Nombre: Raichu
                    </p>
                    <p>
                        Descripción: Raichu es un Pokémon de tipo eléctrico introducido en la primera generación. Es una
                        de las dos posibles evoluciones de Pikachu y la forma habitual del Raichu de Alola.
                    </p>
                </div>
                <div class="col-6 border border-5">
                    <a class="btn btn-outline-success" type="button" href="index.html" style="margin: 12% 12% 12% 30%;">Explora
                        más pokemones</a></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>